*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    font-family: 'Roboto Slab' , serif;
    color: chartreuse;
}
nav{
    background-color: aqua;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
}
nav li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-size: larger;
}